@import '../styling/global';

.search-beer {
  color: $my-primary-color;

  &__title {
    @include set-responsive-font-size($my-font-size-xl);
    @include set-responsive-property('margin-bottom', 1.5);
    text-align: center;
  }

  &__form {
    position: relative;
    height: 500px;

    &-control {
      &-container {
        @include set-responsive-property('padding', 1);
        align-items: center;
        background-color: white;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        width: 200px;
      }

      &-label {
        @include set-responsive-font-size($my-font-size-l);
        align-items: center;
        display: flex;
        text-align: center;

        &--tiny {
          @include set-responsive-font-size($my-font-size-xs);
          @include set-responsive-property('margin-left', 0.1);
          font-weight: normal;
        }
      }
    }

    &-button {
      background-color: white;
      border-color: transparent;
      border-radius: 50%;
      height: 75px;
      outline: none;
      position: absolute;
      width: 75px;

      &:hover:enabled,
      &:focus {
        background-color: $my-primary-color;
        border-color: $my-primary-color;
        color: white;
      }
    }
  }

  &__select {
    position: absolute;

    &--invalid {
      border: solid 1px #dc3545;
    }
  }

  &__percentage {
    position: absolute;

    &-input {
      outline: none;

      &--invalid {
        border: solid 1px #dc3545;
      }
    }
  }
}

.selected-beer {
  align-items: center;
  color: $my-primary-color;
  cursor: default;
  display: flex;
  justify-content: center;

  &__glass {
    background-color: #969696;
    border: solid 10px #d3d3d3;
    border-top: none;
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
    width: 225px;

    &-inner {
      background: linear-gradient(to bottom, #bc7012, #efd002);
      border-top: solid 60px white;
      height: 300px;
    }
  }

  &__handle {
    height: 150px;
    background: transparent;
    border: solid 20px #d3d3d3;
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 50px;
  }

  &__data {
    @include set-responsive-font-size($my-font-size-xs);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
  }
}
