<div class="row">
  <div class="col-8 search-beer">
    <h1 class="search-beer__title">Vind het perfecte biertje</h1>

    <form class="search-beer__form" [formGroup]="form" (change)="onFormChange()">
      <div class="search-beer__select search-beer__form-control-container"
           [@bubbleUpStyles]="showBubbles ? 'shown' : 'hidden'">
        <label class="search-beer__form-control-label" for="style">
          Stijl
          <span class="search-beer__form-control-label--tiny">(vereist)</span>
        </label>
        <select formControlName="style"
                id="style"
                [class.search-beer__select--invalid]="style.invalid && style.touched"
                (change)="onStyleChange()">
          <option value="" disabled hidden>Kies een stijl...</option>
          <option *ngFor="let style of styles">
            {{ style }}
          </option>
        </select>

        <div *ngIf="style.invalid && style.touched && style.errors?.required"
             class="text-center text-danger">
          Het selecteren van een stijl is vereist.
        </div>
      </div>

      <div class="search-beer__select search-beer__form-control-container"
           [@bubbleUpBrewery]="showBubbles ? 'shown' : 'hidden'">
        <label class="search-beer__form-control-label" for="brewery">
          Brouwerij
          <span class="search-beer__form-control-label--tiny">(vereist)</span>
        </label>
        <select formControlName="brewery"
                id="brewery"
                [class.search-beer__select--invalid]="brewery.invalid && brewery.touched"
                (change)="onBreweryChange()">
          <option value="" disabled hidden>Kies een brouwerij...</option>
          <option *ngFor="let brewery of breweries">
            {{ brewery }}
          </option>
        </select>

        <div *ngIf="brewery.invalid && brewery.touched && brewery.errors?.required"
             class="text-center text-danger">
          Het selecteren van een brouwerij is vereist.
        </div>
      </div>

      <div class="search-beer__percentage search-beer__form-control-container"
           [@bubbleUpAlcoholPercentage]="showBubbles ? 'shown' : 'hidden'">
        <label class="search-beer__form-control-label" for="percentage">Alcohol percentage</label>
        <input class="search-beer__percentage-input"
               autocomplete="off"
               formControlName="alcoholPercentage"
               id="percentage"
               [class.search-beer__percentage-input--invalid]="alcoholPercentage.invalid"/>

        <div *ngIf="alcoholPercentage.invalid && alcoholPercentage.errors?.pattern"
             class="text-center text-danger">
          Voer een geldig percentage in tussen 0,00 en 100,00.
        </div>
      </div>

      <button #searchButton
              class="search-beer__form-button" type="button"
              [@bubbleUpSearchButton]="form.valid && formHasValues ? 'shown' : 'hidden'"
              [disabled]="!form.valid"
              (click)="search(); searchButton.blur()">
        Zoek biertje
      </button>
    </form>
  </div>

  <div class="col-4 selected-beer"
       [@fadeInAndOut]="matchingBeer ? 'fadedIn' : 'fadedOut'">
    <div class="selected-beer__glass">
      <div class="selected-beer__glass-inner">
        <div *ngIf="matchingBeer" class="selected-beer__data">
          <span *ngIf="matchingBeer.Bier">Bier: {{ matchingBeer.Bier }}</span>
          <span *ngIf="matchingBeer.Stijl">Stijl: {{ matchingBeer.Stijl }}</span>
          <span *ngIf="matchingBeer.Brouwerij">Brouwerij: {{ matchingBeer.Brouwerij }}</span>
          <span *ngIf="matchingBeer.Gisting">Gisting: {{ matchingBeer.Gisting }}</span>
          <span *ngIf="matchingBeer.Stamwortgehalte">Stamwortgehalte: {{ matchingBeer.Stamwortgehalte }}</span>
          <span *ngIf="matchingBeer.Alcoholpercentage">Alcoholpercentage: {{ matchingBeer.Alcoholpercentage }}</span>
          <span *ngIf="matchingBeer.Sinds">Sinds: {{ matchingBeer.Sinds }}</span>
        </div>
      </div>
    </div>
    <div class="selected-beer__handle"></div>
  </div>
</div>
