@import 'styling/global';

.top-bar {
  @include set-responsive-font-size($my-font-size-xxl);
  align-items: center;
  background-color: white;
  color: $my-primary-color;
  display: flex;
  font-weight: bold;
  height: 100px;
  justify-content: center;
}
