<div class="top-bar">
  <span class="text-center">De bier zoeker</span>
</div>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
