@import 'variables';

// Text

@mixin set-responsive-font-size($font-size) {
  @each $breakpoint, $breakpoint-width in $my-grid-breakpoints {
    @media screen and (min-width: $breakpoint-width) {
      font-size: map_get($font-size, $breakpoint);
    }
  }
}

// Spacing

@mixin set-responsive-property($property, $factor) {
  @each $breakpoint, $breakpoint-width in $my-grid-breakpoints {
    @media screen and (min-width: $breakpoint-width) {
      #{$property}: #{$factor * map_get($my-grid-gutter-widths, $breakpoint)};
    }
  }
}

@mixin set-responsive-padding-x($factor) {
  @include set-responsive-property('padding-left', $factor);
  @include set-responsive-property('padding-right', $factor);
}

@mixin set-responsive-padding-y($factor) {
  @include set-responsive-property('padding-bottom', $factor);
  @include set-responsive-property('padding-top', $factor);
}
