$my-primary-color: #2312bc;

$my-border-radius: 6px;

$my-font-size-xs: (xs: 1.2rem, sm: 1.2rem, md: 1.2rem, lg: 1.3rem, xl: 1.5rem);
$my-font-size-s: (xs: 1.4rem, sm: 1.4rem, md: 1.4rem, lg: 1.5rem, xl: 1.7rem);
$my-font-size-m: (xs: 1.6rem, sm: 1.6rem, md: 1.6rem, lg: 1.7rem, xl: 1.9rem);
$my-font-size-l: (xs: 1.8rem, sm: 1.8rem, md: 1.8rem, lg: 2.0rem, xl: 2.2rem);
$my-font-size-xl: (xs: 2.4rem, sm: 2.4rem, md: 2.4rem, lg: 2.6rem, xl: 2.8rem);
$my-font-size-xxl: (xs: 3.0rem, sm: 3.0rem, md: 3.0rem, lg: 3.2rem, xl: 3.4rem);

$my-grid-gutter-widths: (
  xs: 20px,
  sm: 20px,
  md: 20px,
  lg: 24px,
  xl: 30px
);

$my-grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);
