@import 'app/styling/variables';

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom, #bc7012, #efd002);
}

/* ========== GRID CUSTOMISATION ========== */

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$grid-breakpoints: $my-grid-breakpoints;

@import '~bootstrap/scss/bootstrap';

@mixin set-responsive-grid-gutter-width {
  @each $breakpoint, $breakpoint-width in $grid-breakpoints {
    @media screen and (min-width: $breakpoint-width) {
      $half-gutter-width: map_get($my-grid-gutter-widths, $breakpoint) / 2;

      .row > [class*='col-'] {
        padding-left: $half-gutter-width;
        padding-right: $half-gutter-width;
      }
    }
  }
}

.container {
  @include set-responsive-grid-gutter-width;
}

/* ========== END GRID CUSTOMISATION ========== */
